*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

#navbar{
    font-family: 'Baloo 2', cursive;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}
}

#logo{
    margin: 2px 5px;
}

#logo img{
    cursor: pointer;
    height: 60px;
    width: 60px;
    margin: 2px 5px;
}

#navbar ul{
    display: flex;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    padding:3px 20px;
    text-decoration: none;
    border-radius: 12px;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
    border: 1px solid silver;
}

#home{
    display: flex;
    flex-direction: column;
    padding:3px 200px;
    height: 495px;
    justify-content: center;
    align-items: center;
    
}

#home::before{
    content: "";
    position: absolute;
    background: url('bg.jpg') no-repeat center center/cover;
    height: 500px;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity:0.89;
}

.center{
    text-align: center;
}

#home h1{
    font-family: 'Baloo 2', cursive;
    color: white;
    font-size: 3rem;
    text-align: center;
}

#home p{
    font-family: 'Ubuntu', sans-serif;
    color: white;
    text-align: center;
    font-size: 1.2rem;
}

.btn{
    font-family: 'Ubuntu', sans-serif;
    padding: 4px;
    margin: 5px;
    font-size: 1.2rem;
    border-radius: 6px;
    cursor: pointer;
    
}

.btn:hover{
    background-color: brown;
    border: 2px solid white;
}

.heading-primary{
    font-family: 'Baloo 2', cursive;
    font-size: 2.5rem;
    text-decoration:underline ;
}

#section-container{
    height: 383px;
    margin: 10px;
}

.services-box{
    margin:37px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    margin: 0px 10px;
    padding: 19px;
    width: 412px;
    border: 2px solid red;
    border-radius: 59px;
    background-color: rgb(234 233 233);
}

.heading-secondary{
    font-size: 1.2rem;
}

.heading-secondary:hover{
    text-decoration: underline;
    cursor: pointer;
}
.box p{
    text-align: center;
}

.box img{
    display: block;
    margin: auto;
    height: 130px;
    width: 130px;
}

#clients-container{
    height: 424px;

}


#clients{
    margin: 15px ;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(234 233 233);
    border: 2px solid red;
    border-radius: 45px;
}

.pics{
    margin: 0px 30px;
}
.pics img{
    height: 140px;
    
}
#contact-container{
    height: 650px;
}

#forms-group{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    
}
#forms-group::before{
    content: "";
    background: url('contact-us.png') no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: -1;
    left: 0;
    opacity: 0.8;
    
}


.form{
    margin: 10px;
    font-size: 1.3rem;
    
}
#forms-group input, 
#forms-group textarea{
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 

#forms-group form{
    font-family: 'Ubuntu', sans-serif;
    width: 40%;
}

#forms-group label{
   font-size: 1.3rem;


}

#forms-group button{
    width: 42%;
    display: block;
    margin: 16px auto;
    
}

footer{
    font-family: 'Baloo 2', cursive;
   background: black;
   color: white;
   font-size: 1.1rem;
}



